.jumbotron
  %center
    = image_tag("logo2.png")
    %h2 The worlds easiest immersive storytelling tool
    = link_to "New Beam", new_beam_path, class: "btn-lg btn-success"
    %P hold the card to your andorid phone and see the  story